<!DOCTYPE html>
<html>
<head>
  <title>KmsSeo</title>
  <%= stylesheet_link_tag    "kms_seo/application", media: "all" %>
  <%= javascript_include_tag "kms_seo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
